.wrapper {
	border: 1px solid black;
	margin-top: 10px;
}

.container {
	background-color: #f99bff;
}

.barCompleted {
	background-color: lightblue;
	border-radius: 10px;
}

.label {
	font-size: 18px;
	color: white;
	padding: 10px;
}
