.wrapper {
	border: 1px solid white;
	margin-top: 10px;
	border-radius: 5px;
}

.container {
	background-color: #f99bff;
	border-radius: 5px;
}

.barCompleted {
	background-color: lightblue;
	border-radius: 10px;
}

.label {
	font-size: 18px;
	color: black;
	font-weight: bold;
	padding: 10px;
}
